body {
    background-image: url("../images/Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
   }
   
   .container {
    display: flex;
    height: 100vh;
    flex-direction: row;
  }
  
  .left {
    width: 50%;
    background-color: rgba(242, 242, 242, 0.5);
    padding: 20px;
  }
  
  .right {
    width: 50%;
    background-color: rgba(230, 230, 230, 0.8);
    padding: 20px;
  }
  
  /* Styles for mobile devices */
  @media (max-width: 767px) {
    .container {
      flex-direction: column;
    }
  
    .left {
      width: 100%;
      height: 50%;
      order: 2;
    }
  
    .right {
      width: 100%;
      height: 50%;
      order: 1;
    }
  }
  
  .button-area {
    height: 50px;
    /* Ajouter des styles pour l'espacement, les couleurs, etc. */
  }
  
  .player-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: calc(100% - 100px); /* La hauteur totale du conteneur moins la hauteur de la zone de boutons */
    overflow-x: scroll; /* Cacher la scrollbar horizontale */
    overflow-y: hidden; /* Afficher la scrollbar verticale */
  }
  
  
  .player-list::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
    height: 12px; /* Hauteur de la barre de défilement */
  }
  
  .player-list::-webkit-scrollbar-track {
    background-color: #f2f2f2; /* Couleur de la zone non recouverte par la poignée de défilement */
    border-radius: 6px; /* Arrondir les coins de la zone de la barre de défilement */
  }
  
  .player-list::-webkit-scrollbar-thumb {
    background-color: rgb(255, 204, 0); /* Set the scrollbar handle color to yellow */
    border-radius: 6px; /* Rounded corners for the scrollbar handle */
  }
  
  
  .player-list::-webkit-scrollbar-button {
    background-color: #ffa600; /* Couleur des boutons de la barre de défilement */
    border-radius: 6px; /* Arrondir les coins des boutons de la barre de défilement */
  }
  
  
  .player {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: calc(50% - 10px); /* Modifier la propriété width */
    /* Ajouter des styles pour la taille, la couleur, etc. */
  }
  
  .player img {
    width: 50px;
    margin-right: 10px;
    /* Ajouter des styles pour la taille, la couleur, etc. */
  }
  
  .player span {
    font-weight: bold;
    /* Ajouter des styles pour la taille, la couleur, etc. */
  }
  
  .player-item {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
  }

  .player-divTeam img {
    width: 5%;
  }

  .player-divTeam {
    display: flex;
    align-items: center;
  }